<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Customize Login</title>
</head>
<body>
<form th:action="@{/doLogin}" method="post">
    <label>
        username:
        <input name="username" placeholder="please enter your username">
    </label><br/>
    <label>
        password:
        <input name="password" placeholder="please enter your password" type="password">
    </label><br/>
    <input type="submit" value="login">
</form>
</body>
</html>